/* Global styles */
body, html {
    margin: 0;
    height: 100%;
    font-family: 'Tangerine', serif;
    font-size: 22px;
    background-color: #f4f4f4;
}

p {
    font-family: "Roboto", sans-serif;
}

.test {
    display: flex;
    flex-direction: column; /* Positionne les éléments en colonne */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: 80vh;
    border-radius: 8px; /* Coins arrondis */
}

/* Navigation styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav-links a:hover {
    background-color: #555;
    color: #f4f4f4;
}

/* Button styles */
.btn {
    font-family: "Roboto", sans-serif;
    background-color: rgb(211, 211, 211);
    color: black; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 8px 16px; /* Espace interne */
    font-size: 14px; /* Taille du texte */
    border-radius: 6px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    font-family: "Roboto", sans-serif;
    background-color: rgba(211, 211, 211, 1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Ombre douce */
    transform: scale(1.07); /* Légère agrandissement */
}

.btn:active {
    transform: scale(0.95);
}

.element {
    color: black;
    margin: 10px 0; /* Espacement externe entre les éléments */
}
